<!doctype html>
<html lang="en">
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/navbar', null, {cache: !config.relative_link}) %>
  <%- body %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/scripts', null, {cache: !config.relative_link}) %>
</body>
</html>