<%
  var title = page.title;
%>
<meta charset="utf-8">
<title><%= title %> | <%= config.title %></title>
<meta name="description" content="<%= config.description %>">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="manifest" href="/site.webmanifest">
<link rel="apple-touch-icon" href="/icon.png">
<!-- Place favicon.ico in the root directory -->

<%- css('sass/style') %>

<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/b32dc4d982.js" crossorigin="anonymous"></script>

<%- partial('_partial/opengraph') %>
<%- partial('_partial/ga') %>
